.Message {
    padding: 0 8px;
    width: 100%;
    display: flex;
    /* transition: background-color .3s ease; */
    transition: all .3s ease;
}

.Message.animate {
    transform: scale(0.9);
}

.Message.Out {
    flex-direction: row-reverse;
    transform-origin: right bottom;
}

.Message.In {
    flex-direction: row;
    transform-origin: left bottom;
}

.Messages.MessagesAnimating .Message {
    opacity: 0;
    transform: scale(.9);
}

.Messages.animateFromTop .Message.Out {
    transform-origin: right top;
}

.Messages.animateFromTop .Message.In {
    transform-origin: left top;
}

.Messages.MessagesAnimating .Message.showAnim {
    opacity: 1;
    transform: scale(1);
}

.ThreadMessage .Message {
    justify-content: center;
}

.ThreadMessage .Message,
.Message.Action {
    transform-origin: center;
}

.Message .message-from-profile {
    align-self: flex-end;
    margin-right: 8px;
    min-width: 42px;
}

.Message .message-from-profile.hidden .profile {
    display: none;
}

.Message .bubble {
    background-color: var(--surface-color);
    /* padding: 8px; */
    padding: 0.575rem;
    margin: 2px 0;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 30rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.Message.transparent .bubble {
    background: none !important;
}

.Message.Action {
    justify-content: center;
}

.Message .body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Message .body .from {
    color: var(--primary);
    color: var(--accent-color);
    font-size: 14px;
    font-weight: bold;
}

.Message .body .from.colors-blue,
.message-reply.colors-blue .title {
    background: none;
    color: var(--colors-text-blue);
}

.Message .body .from.colors-magenta,
.message-reply.colors-magenta .title {
    color: var(--colors-text-magenta);
    background: none;
}

.Message .body .from.colors-green,
.message-reply.colors-green .title {
    background: none;
    color: var(--colors-text-green);
}

.Message .message-text {
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
    unicode-bidi: plaintext;
    line-height: 1.4;
    margin-bottom: -0.2rem;
}

.Message.Action .message-text {
    font-weight: 500;
}

.Message .message-details {
    float: right;
    align-self: flex-end;
    align-items: center;
    padding-top: 7px;
    padding-left: 7px;
    margin-bottom: -7px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    direction: ltr;
    display: flex;
    gap: 2px;
    user-select: none;
}

.Message.transparent .message-details {
    background-color: #0004;
    padding: 2px 6px;
    color: var(--text-color);
    border-radius: 12px;
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.Message .message-details .message-time {
    font-size: 12px;
    color: #888;
}

.Message.transparent .message-details .message-time {
    color: var(--text-color);
}

.message-details .message-seen {
    font-size: 17px;
    width: auto;
    height: auto;
    color: var(--green-color);
}

.message-reply {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1.4;
    height: 42px;
    width: 100%;
    padding: 2px 0;
    margin: 2px 0;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--accent-bg);
    transition: all 0.3s ease;
}

.message-reply:hover {
    background-color: var(--on-primary);
}

.message-reply.withMargin {
    margin-bottom: 0.86rem;
}

.message-reply .body {
    padding: 0 4px;
    overflow: hidden;
}

.message-reply .line {
    background-color: var(--primary);
    background-color: var(--accent-color);
    min-width: 3px;
    height: 100%;
}

.message-reply .title {
    color: var(--primary);
    color: var(--accent-color);
    font-weight: bold;
}

.message-reply .title,
.message-reply .subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.message-reply .subtitle span {
    display: ruby;
}

.Message .icon {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 0.75rem;
}

.message-media {
    overflow: hidden;
    margin: -0.575rem;
    margin-bottom: 0.285rem;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.Message.transparent .message-media {
    margin-bottom: -0.575rem;
}

/* .Message.In .message-media {
    margin-top: 0.285rem;
} */

/* .message-media img {
    width: 100%;
    height: 100%;
    min-width: 12vw;
    min-height: 10vh;
} */

.message-media>* {
    max-width: min(480px, 100%);
    transition: all .3s ease;
    cursor: pointer;
}

.Message.transparent .message-media>* {
    min-width: auto;
}

.message-media .blurred {
    filter: blur(10px);
}

.message-media .RoundVideo {
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.message-media .MediaDetails {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    background-color: #000a;
    min-width: auto;
    margin: 8px;
    padding: 2px 8px;
    border-radius: 10px;
    transition: all .3s ease;
}

.message-media .MediaDetails span {
    max-height: 14px;
    max-width: 120px;
    overflow: hidden;
    transition: all .3s ease;
}

.message-media .MediaDetails span.animate {
    max-width: 0px;
    max-height: 0px;
}

.MessageReactions {
    display: flex;
    gap: 4px;
    padding: 4px 0;
    flex-wrap: wrap;
    direction: ltr;
}

.MessageReactions .reaction {
    padding: 4px 8px;
    /* 5px */
    background-color: var(--on-surface);
    border-radius: 20px;
    font-size: 12px;
    /* 14 */
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.Message.transparent .MessageReactions .reaction {
    color: var(--text-color);
}

.MessageReactions .reaction:hover {
    background-color: var(--active-primary);
}

.MessageReactions .reaction.active {
    background-color: var(--primary);
    color: var(--text-color);
}

.MessageReactions .reaction .emoticon {
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.message-loading-progress {
    position: absolute;
    padding: 3px;
    width: 54px;
    height: 54px;
    background-color: #0009;
    color: var(--text-color);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

.message-loading-progress:hover {
    background-color: #000b;
}

.message-loading-progress .icon {
    position: absolute;
    background-color: transparent;
}

.message-loading-progress.animate {
    opacity: 0;
    transform: scale(.8);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.message-media .Document {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 16px;
    flex: 1;
}

.message-media .Document .details {
    display: flex;
    flex-direction: column;
    direction: ltr;
    gap: 6px;
}

.message-media .Document .details .subtitle {
    font-size: 14px;
}

.message-media .Document .message-loading-progress {
    position: static;
}

.CustomEmoji {
    display: inline-flex;
    vertical-align: text-bottom;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
}

.CustomEmoji .RLottie {
    width: 20px;
    height: 20px;
}

.Code {
    background-color: var(--on-primary);
    border-radius: 8px;
    white-space: normal;
    margin: 0;
    font-size: 14px;
    padding: 4px 8px;
    padding-left: 11px;
    position: relative;
    overflow: hidden;
}

.Code::before {
    content: '';
    background-color: #fff;
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.Code pre {
    white-space: pre-wrap;
    margin: 0;
}

.Poll {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 320px;
    padding: 12px;
    padding-bottom: 0;
}

.Poll .PollType,
.Poll .totalVoters {
    font-size: 14px;
    color: var(--secondary-text);
}

.Poll .totalVoters {
    padding-top: 12px;
    font-weight: 500;
}

.Radio {
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 32px;
    gap: 12px;
    border-bottom: 1px solid var(--active-primary);
    border-radius: 5px;
    transition: all .3s ease;
}

.Poll.Results .Radio {
    border: none;
}

.Radio input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.Radio:has(> input:hover) {
    background-color: var(--on-primary);
}

.Radio .RadioMain {
    height: 100%;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.Radio .RadioMain::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #555;
    border-radius: 50px;
}

.Poll.Results .RadioMain::before {
    border: none;
}

.Poll.Results .Radio.active .RadioMain::before {
    background-color: var(--primary);
}

.Radio .icon {
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 16px;
    text-align: center;
    color: var(--text-color);
}

.Radio .line {
    position: absolute;
    bottom: 0;
    height: 4px;
    min-width: 4px;
    background-color: var(--primary);
    border-radius: 8px;
}

.Radio .PollVoters {
    position: absolute;
    left: 0;
    bottom: -4px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
}

.Message .Comments {
    border-top: 1px solid var(--active-primary);
    height: 42px;
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 14px;
    gap: 8px;
    margin: -0.575rem;
    margin-top: 0.425rem;
    margin-left: 0;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.ThreadMessage .Message .Comments {
    display: none !important;
}

.Message.transparent .Comments {
    background-color: var(--on-primary);
    border: 1px solid var(--on-primary);
    border-radius: 8px;
}

.Message .Comments .RecentRepliers {
    display: flex;
    flex-direction: row-reverse;
}

.Message .Comments .RecentRepliers .profile {
    border: 2px solid var(--primary-container);
    margin-left: -10px;
}

.Message .Comments .RecentRepliers .profile:last-child {
    margin: 0;
}

.message-call {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-right: 80px;
    margin-bottom: -16px;
    padding-left: 8px;
    height: 48px;
}

.message-call .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message-call .details .status {
    font-weight: bold;
}

.message-call .details p {
    font-size: 12px;
    margin: 0;
}

.message-call.without-margin {
    margin: 0;
}