.Message {
    padding: 0 8px;
    width: 100%;
    display: flex;
    /* transition: background-color .3s ease; */
    transition: all .3s ease;
    /* content-visibility: auto; */
    /* contain-intrinsic-size: 100px; */
}

/* .Message {
    position: relative;
    left: -100vw;
}

.Message.inView {
    left: auto;
    width: auto;
} */

.Message.animate {
    transform: scale(0.9);
}

.Message.Out {
    flex-direction: row-reverse;
    transform-origin: right bottom;
}

.Message.In {
    flex-direction: row;
    transform-origin: left bottom;
}

.Message {
    --primary-text: #fff;
}

.Dark .Message.Out {
    --primary: #fff;
    --primary-text: #000;
}

.Dark .Message.Out .peer-color-0,
.Dark .Message.Out .peer-color-1,
.Dark .Message.Out .peer-color-2,
.Dark .Message.Out .peer-color-3,
.Dark .Message.Out .peer-color-4,
.Dark .Message.Out .peer-color-5,
.Dark .Message.Out .peer-color-6 {
    --accent-color: #fff;
    --accent-bg: #ffffff1a;
}

.Messages.MessagesAnimating .Message {
    opacity: 0;
    transform: scale(.9);
}

.Messages.animateFromTop .Message.Out {
    transform-origin: right top;
}

.Messages.animateFromTop .Message.In {
    transform-origin: left top;
}

.Messages.MessagesAnimating .Message.showAnim {
    opacity: 1;
    transform: scale(1);
}

.ThreadMessage .Message {
    justify-content: center;
}

.ThreadMessage .Message,
.Message.Action {
    transform-origin: center;
}

.Message .message-from-profile {
    align-self: flex-end;
    margin-right: 8px;
    min-width: 42px;
}

.Message .message-from-profile.hidden .profile {
    display: none;
}

.Message .bubble {
    margin: 2px 0;
    width: fit-content;
    max-width: 30rem;
    height: fit-content;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 4px;
}

.Message .bubble .bubble-content {
    background-color: var(--surface-color);
    padding: 0.575rem;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.Message.transparent .bubble .bubble-content {
    background: none !important;
}

.Message .bubble .bubble-content.sizeAnimating {
    transition: all .3s ease;
}

.Message.deleteEffect {
    opacity: 0;
    min-height: 0px !important;
    overflow: hidden;
    transition: opacity .3s ease, min-height 1s ease !important;
}

.Message.clip .bubble-content {
    background-color: #fffffbdd;
}

.Dark .Message.clip .bubble-content {
    background-color: #000000;
}

.Message.Action {
    justify-content: center;
}

.Message .body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Message .body .from {
    color: var(--primary);
    color: var(--accent-color);
    font-size: 14px;
    font-weight: bold;
    text-wrap: nowrap;
}

.Message .body .from.colors-blue,
.message-reply.colors-blue .title {
    background: none;
    color: var(--colors-text-blue);
}

.Message .body .from.colors-magenta,
.message-reply.colors-magenta .title {
    color: var(--colors-text-magenta);
    background: none;
}

.Message .body .from.colors-green,
.message-reply.colors-green .title {
    background: none;
    color: var(--colors-text-green);
}

.Message.transparent .message-reply {
    color: var(--text-color);
}

.Message .message-text {
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
    unicode-bidi: plaintext;
    line-height: 1.4;
    margin-bottom: -0.2rem;
}

.Message.Action .message-text {
    font-weight: 500;
}

.Message .message-details {
    float: right;
    align-self: flex-end;
    align-items: center;
    padding-top: 7px;
    padding-left: 7px;
    margin-bottom: -7px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    direction: ltr;
    display: flex;
    gap: 2px;
    user-select: none;
}

.Message.transparent .message-details {
    background-color: #0004;
    padding: 2px 6px;
    color: var(--text-color);
    border-radius: 12px;
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.Message .message-details .message-time {
    font-size: 12px;
    color: #888;
}

.Message.transparent .message-details .message-time {
    color: var(--text-color);
}

.message-details .message-seen {
    font-size: 17px;
    width: auto;
    height: auto;
    color: var(--green-color);
}

.message-details .message-views {
    display: flex;
    gap: 2px;
    padding-right: 2px;
    line-height: 1.2;
}

.message-details .message-views .icon {
    line-height: .875;
}

.message-reply,
.message-forward {
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1.4;
    height: 42px;
    width: 100%;
    padding: 2px 0;
    margin: 2px 0;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--accent-bg);
    transition: all 0.3s ease;
}

.message-forward {
    font-size: 14px;
    font-weight: 500;
    color: var(--bc);
    padding: 2px 4px;
    margin: -4px;
}

.message-reply:hover,
.message-forward:hover {
    background-color: var(--on-primary);
}

.message-reply.withMargin,
.message-forward.withMargin {
    margin-bottom: 0.86rem;
}

.message-reply .body {
    padding: 0 4px;
    overflow: hidden;
}

.MessageLine {
    background-color: var(--primary);
    background-color: var(--accent-color);
    min-width: 3px;
    min-height: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.message-reply .title {
    color: var(--primary);
    color: var(--accent-color);
    font-weight: bold;
}

.message-reply .title,
.message-reply .subtitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.message-reply .subtitle span {
    display: ruby;
}

.Message .icon {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 0.75rem;
}

.Album {
    display: flex;
    gap: 2px;
    margin: -0.475rem;
    margin-bottom: 0.285rem;
    border-radius: 16px 16px 0 0;
    direction: ltr;
    position: relative;
    overflow: hidden;
}

.Album .message-media {
    margin: 0 !important;
    min-height: 0;
}

.message-media {
    overflow: hidden;
    margin: -0.575rem;
    margin-bottom: 0.285rem;
    border-radius: 8px;
    min-height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.message-media.media-position-top {
    margin-top: -0.575rem;
    margin-bottom: 0.285rem;
}

.message-media.media-position-bottom {
    margin-bottom: -0.575rem;
    margin-top: 0.285rem;
}

.Message.transparent .message-media,
.Message.transparent .Album {
    margin-bottom: -0.575rem;
}

.message-media.NoCaption {
    margin-bottom: -0.575rem;
}

.message-media.NoCaption .Document {
    padding-bottom: 0;
}

.message-media>* {
    max-width: min(480px, 100%);
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
    cursor: pointer;
}

.Message.transparent .message-media>* {
    min-width: auto;
}

.message-media img.animate,
.CustomEmoji .animate {
    opacity: 0;
}

.message-media .blurred {
    filter: blur(10px);
}

.message-media .RoundVideo {
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.message-media .MediaDetails {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    font-size: 12px;
    color: #fff;
    background-color: #000a;
    min-width: auto;
    margin: 8px;
    padding: 2px 8px;
    border-radius: 10px;
    transition: all .3s ease;
}

.message-media .MediaDetails span {
    max-height: 14px;
    max-width: 120px;
    overflow: hidden;
    transition: all .3s ease;
}

.message-media .MediaDetails span.animate {
    max-width: 0px;
    max-height: 0px;
}

.MessageReactions {
    display: flex;
    gap: 4px;
    padding: 4px 0;
    flex-wrap: wrap;
    direction: ltr;
    user-select: none;
}

.MessageReactions .reaction {
    padding: 4px 8px;
    /* 5px */
    background-color: var(--on-surface);
    border-radius: 20px;
    font-size: 12px;
    /* 14 */
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.Message.transparent .MessageReactions .reaction {
    color: var(--text-color);
}

.MessageReactions .reaction:hover {
    background-color: var(--active-primary);
}

.MessageReactions .reaction.active {
    background-color: var(--primary);
    color: var(--text-color);
}

.MessageReactions .reaction .emoticon {
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.MediaDownload {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Document .MediaDownload {
    display: contents;
}

.message-loading-progress,
.StreamAudio {
    position: absolute;
    padding: 3px;
    width: 54px;
    height: 54px;
    flex: none;
    background-color: #0009;
    color: var(--text-color);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

.message-loading-progress:hover {
    background-color: #000b;
}

.message-loading-progress .icon {
    position: absolute;
    background-color: transparent;
}

.message-loading-progress.animate {
    opacity: 0;
    transform: scale(.8);
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.message-media .Document {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 16px;
    flex: 1;
}

.message-media .Document .details {
    display: flex;
    flex-direction: column;
    direction: ltr;
    gap: 2px;
}

.message-media .Document .details .title {
    color: var(--primary);
    font-weight: 500;
}

.message-media .Document .details .subtitle {
    font-size: 14px;
}

.message-media .Document .message-loading-progress {
    position: static;
}

.message-media .Document .StreamAudio {
    position: relative;
}

.message-media .Document .StreamAudio .Play {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-media .Document .StreamAudio img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

.message-media .Document .StreamAudio .Play>.icon {
    font-size: 36px !important;
    position: absolute;
}

.message-media .Document .StreamAudio .message-loading-progress {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -4px;
    right: -4px;
    padding: 0;
}

.message-media .Document .StreamAudio .message-loading-progress .icon {
    font-size: 18px !important;
}

.CustomEmoji {
    display: inline-flex;
    vertical-align: text-bottom;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.CustomEmoji .RLottie {
    width: 20px;
    height: 20px;
    display: flex;
}

.CustomEmoji * {
    transition: opacity .3s ease;
}

.CustomEmoji .Loading {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, transparent, #ffffff30, transparent);
    background-position-x: 200%;
    background-size: 200%;
    border: 1px solid #ffffff10;
    border-radius: 8px;
    transition: opacity .3s ease;
    animation: ItemLoading 1s linear infinite;
}

.Code {
    background-color: var(--on-primary);
    border-radius: 8px;
    white-space: normal;
    margin: 0;
    font-size: 14px;
    padding: 4px 8px;
    padding-left: 11px;
    position: relative;
    overflow: hidden;
}

.Code::before {
    content: '';
    background-color: var(--primary);
    width: 3px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.Dark .Code::before {
    background-color: #ffffff;
}

.Code pre {
    white-space: pre-wrap;
    margin: 0;
}

.Poll {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 320px;
    padding: 12px;
    padding-bottom: 0;
}

.Poll .PollType,
.Poll .totalVoters {
    font-size: 14px;
    color: var(--secondary-text);
}

.Poll .totalVoters {
    padding-top: 12px;
    font-weight: 500;
    text-align: left;
    direction: ltr;
}

.Radio {
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 32px;
    gap: 12px;
    border-bottom: 1px solid var(--active-primary);
    border-radius: 5px;
    transition: all .3s ease;
}

.Poll.Results .Radio {
    border: none;
}

.Radio input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.Radio:has(> input:hover) {
    background-color: var(--on-primary);
}

.Radio .RadioMain {
    height: 100%;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.Radio .RadioMain::before {
    content: '';
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #555;
    border-radius: 50px;
}

.Poll.Results .RadioMain::before {
    border: none;
}

.Poll.Results .Radio.active .RadioMain::before {
    background-color: var(--primary);
}

.Radio .icon {
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 16px;
    text-align: center;
    color: var(--text-color);
}

.Radio .line {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    min-width: 4px;
    max-width: none;
    background-color: var(--primary);
    border-radius: 8px;
    transition: all .3s ease;
}

.Radio .line.animate {
    max-width: 0;
}

.Radio .PollVoters {
    position: absolute;
    left: 0;
    bottom: -4px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
}

.WebPage {
    display: flex;
    gap: 6px;
    flex: 1;
    margin-inline: .575rem;
    background-color: var(--accent-bg);
    border-radius: 8px;
    overflow: hidden;
}

.WebPage .body {
    display: flex;
    flex-direction: column;
    padding: 6px;
    padding-left: 0;
    font-size: 14px;
}

.WebPage .body .siteName {
    color: var(--accent-color);
    font-weight: 500;
}

.WebPage .body .title {
    font-weight: 500;
}

.Giveaway {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
}

.Giveaway .Meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Giveaway .Meta .Reward {
    color: var(--primary-text);
    padding: 2px 6px;
    gap: 4px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    width: fit-content;
}

.Giveaway.Stars .Meta .Reward {
    background-color: #ffbc2e;
    color: #fff;
}

.Giveaway .Meta .RLottie {
    position: relative;
    width: 160px;
    height: 120px;
}

.Giveaway .Meta .StarIcon {
    --color-fill: #fff;
}

.Giveaway .Meta .RLottie canvas {
    position: absolute;
    left: 0;
    bottom: 0;
}

.Giveaway .Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.Giveaway .Body .title {
    font-weight: 500;
}

.Giveaway .Body .subtitle {
    font-weight: 500;
    font-size: 14px;
}

.Giveaway .Body .Channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.Giveaway .Body .Channel {
    color: var(--accent-color);
    background-color: var(--accent-bg);
    font-weight: 500;
    border-radius: 16px;
    font-size: 14px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.Giveaway .Body .Channel .title {
    padding: 0 10px;
}

.Message .Comments {
    border-top: 1px solid var(--active-primary);
    height: 42px;
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 14px;
    gap: 8px;
    margin: -0.575rem;
    margin-top: 0.425rem;
    margin-left: 0;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.ThreadMessage .Message .Comments {
    display: none !important;
}

.Message.transparent .Comments {
    background-color: var(--on-primary);
    border: 1px solid var(--on-primary);
    border-radius: 8px;
}

.Message .Comments .RecentRepliers {
    display: flex;
    flex-direction: row-reverse;
}

.Message .Comments .RecentRepliers .profile {
    border: 2px solid var(--primary-container);
    margin-left: -10px;
}

.Message .Comments .RecentRepliers .profile:last-child {
    margin: 0;
}

.UnreadMessages {
    display: flex;
    justify-content: center;
    background-color: var(--surface-color);
    padding: 4px;
    font-size: 16px;
    user-select: none;
}

.Message .InlineButtons {
    display: flex;
    flex: 1;
}

.Message .InlineButtons .rows {
    flex-direction: column;
}

.Message .InlineButtons .rows,
.Message .InlineButtons .row {
    display: flex;
    flex: 1;
    gap: 4px;
}

.Message .InlineButtons .Button {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: var(--on-primary);
    color: var(--text-color);
    font-weight: 500;
    border-radius: 8px;
    line-height: 1.4;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}

.Message .InlineButtons .Button:hover {
    background-color: var(--active-primary);
}

.Message .InlineButtons .Button:active {
    transform: scale(.95);
}

.Message .InlineButtons .Button::after {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, transparent, #ffffff30, transparent);
    background-position-x: 200%;
    background-size: 200%;
    border: 1px solid #ffffff10;
    border-radius: 8px;
    opacity: 0;
    transition: opacity .3s ease;
}

.Message .InlineButtons .Button.Loading::after {
    opacity: 1;
    animation: ItemLoading 1s linear infinite;
}

.message-call {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-right: 80px;
    margin-bottom: -16px;
    padding-left: 8px;
    height: 48px;
}

.message-call .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message-call .details .status {
    font-weight: bold;
}

.message-call .details p {
    font-size: 12px;
    margin: 0;
}

.message-call.without-margin {
    margin: 0;
}