.Page>div:not(.Transition),
.SubPage>div:not(.Transition) {
    background-color: var(--primary-container);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 24px;
}

.Page .Settings .User {
    justify-content: center;
}

.Page .section {
    /* overflow: hidden; */
}

.Page .section:last-child,
.section.SettingsItems

/* .Page .section~.section */
    {
    border-radius: 16px 16px 0 0;
    flex: 1;
}

.Page .section:first-child {
    border-radius: 0 0 16px 16px;
}

.Page .AppVersion {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #777;
    height: 60px;
    background-color: var(--secondary);
    margin-top: -24px;
    justify-content: center;
}

.Page .Item:hover {
    background-color: var(--on-primary);
}

.Page .Item.danger:hover {
    background-color: #dd000020;
}

.Page .FlexColumn {
    gap: 4px;
    flex: 1;
}

.Page .FlexColumn .subtitle {
    font-size: 16px;
}

.Page .Meta {
    /* flex: none !important; */
    font-size: 16px;
    text-align: right;
    color: #999;
}

.Page .CustomMenu {
    top: -8px;
    width: calc(100% - 8px);
}

.Page .CustomMenu .Item {
    margin: 0 -8px;
    width: calc(100% + 8px);
    padding-right: 8px;
}

.Page .MessagesPreview .Messages {
    position: relative;
    padding: 8px 0;
}

.Page .MessagesPreview .Messages>* {
    z-index: 1;
    position: relative;
}

.Page .MessagesPreview .Messages .background {
    top: 0;
    position: absolute;
    z-index: 0;
}

.Page .ColorTheme .themes {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0;
}

.Page .ColorTheme .background {
    width: 64px;
    height: 64px;
    z-index: 0;
    border-radius: 20px;
    position: static;
    cursor: pointer;
}