.App {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--secondary); */
  height: 100%;
  color: var(--dyn-text-color);
}

.Dark {
  /* --primary: #006095; */
  --primary: #003e61;
  --primary-container: #1e1e1e;
  --secondary: #121212;
  --secondary-text: #aaa;
  --on-primary: #272727;
  --active-primary: #373737;
  --theme: #000;
  --text-color: #d5d5d5;
  --dyn-text-color: #d5d5d5;
  --app-background: linear-gradient(109.6deg, #0e1214 11.2%, #0b1116 51.2%, rgb(3 15 26) 98.6%);
  --background: #0e1214;
  --shadow-color: #000;
  --primary-rgb: 0, 62, 97;
  --primary-hover: #005381;
  --primary-hover-rgb: 0, 83, 129;
  --primary-active: #004164;
  --surface-color: #ffffff10;
  --on-surface: #ffffff20;
  --surface-hover: #0009;
  --border-color: #111;
  --icon-hover: #ffffff20;
  --icon-active: #ffffff30;
  --default: linear-gradient(120deg, #3b7493, #00345e);
  --purple: linear-gradient(120deg, #713b93, #28005e);
  --green: linear-gradient(120deg, #65933b, #005e5a);
  --green: linear-gradient(120deg, #11291d, #00312e);
  --black: linear-gradient(120deg, #202020, #080808);
  --colors-blue: linear-gradient(120deg, #3b7493, #00345e);
  --colors-magenta: linear-gradient(120deg, #933b8a, #3a005e);
  --colors-green: linear-gradient(120deg, #53933b, #005e14);
  --colors-text-blue: #3b7493;
  --colors-text-magenta: #933b8a;
  --colors-text-green: #53933b;
  --color-gray: #717579;

  /* TODO: Add following Gradients */
  /* background: linear-gradient(135deg, black, #330000); */
  /* background: linear-gradient(135deg, black, #000033); */
  /* background: linear-gradient(45deg, black, #1a1a1a); */
  /* background: linear-gradient(45deg, white, #ffffff); */
}

:root {
  --primary: #00aeff;
  --primary-container: #f1f1f1;
  --secondary: #fff;
  --secondary-text: #aaa;
  --on-primary: #f1f1f1;
  --active-primary: #eee;
  --theme: #fff;
  --text-color: #000;
  --dyn-text-color: #000;
  --background: #fff;
  --shadow-color: #fff;
  --primary-rgb: 0, 174, 255;
  --primary-hover: #008dcf;
  --primary-hover-rgb: 0, 141, 207;
  --primary-active: #0080bb;
  --surface-color: #fffb;
  --on-surface: #00000020;
  --surface-hover: #ffffff;
  --border-color: #ddd;
  --icon-hover: #0000000a;
  --icon-active: #0000000f;
  --default: linear-gradient(120deg, #62cdff, #096bd1);
  /* --purple: linear-gradient(120deg, #a256d3, #4900ad); */
  --green: linear-gradient(120deg, #9adf5b, #008d87);
  --black: linear-gradient(120deg, #464646, #1a1a1a);
  --purple: linear-gradient(300deg, #c12abe, #5c38a3);
  --colors-blue: linear-gradient(120deg, #3b7493, #00345e);
  --colors-magenta: linear-gradient(120deg, #933b8a, #3a005e);
  --colors-green: linear-gradient(120deg, #53933b, #005e14);
  --colors-blue: linear-gradient(120deg, #3b7493, #00345e);
  --colors-magenta: linear-gradient(120deg, #933b8a, #3a005e);
  --colors-green: linear-gradient(120deg, #53933b, #005e14);
  --colors-text-blue: #3b7493;
  --colors-text-magenta: #933b8a;
  --colors-text-green: #53933b;
  --color-gray: #c4c9cc;

  --color-peer-0: #D45246;
  --color-peer-bg-0: #D452461a;
  --color-peer-bg-active-0: #D452462b;
  --color-peer-1: #F68136;
  --color-peer-bg-1: #F681361a;
  --color-peer-bg-active-1: #F681362b;
  --color-peer-2: #6C61DF;
  --color-peer-bg-2: #6C61DF1a;
  --color-peer-bg-active-2: #6C61DF2b;
  --color-peer-3: #46BA43;
  --color-peer-bg-3: #46BA431a;
  --color-peer-bg-active-3: #46BA432b;
  --color-peer-4: #5CAFFA;
  --color-peer-bg-4: #5CAFFA1a;
  --color-peer-bg-active-4: #5CAFFA2b;
  --color-peer-5: #408ACF;
  --color-peer-bg-5: #408ACF1a;
  --color-peer-bg-active-5: #408ACF2b;
  --color-peer-6: #D95574;
  --color-peer-bg-6: #D955741a;
  --color-peer-bg-active-6: #D955742b;
  --color-text: rgb(255, 255, 255);
  --color-white: #ffffff;
  --hover-color: #272727;
}

:root {
  --emoji-size: 20px;
}

.textfield {
  position: relative;
  margin: 12px 0;
}

.textfield label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-container);
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

.textfield input {
  font-size: 1rem;
  outline: none;
  height: 54px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem 0.7rem;
  color: var(--dyn-text-color);
  background-color: var(--primary-container);
  width: 100%;
  font-family: inherit;
  transition: 0.1s ease-out;
}

.textfield input:hover,
.textfield input:focus {
  border-color: var(--bc);
  transition: border-width 0.15s ease-in;
}

.textfield input:focus {
  border-width: 2px;
}

.textfield input:hover+label,
.textfield input:focus+label {
  color: var(--bc);
}

.textfield.error input:hover+label,
.textfield.error input:focus+label {
  color: #dd0000;
}

.textfield input:focus+label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.textfield input:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.textfield.disable input {
  background-color: #eeeeee20;
  color: #888;
  border-color: #88888830;
}

.textfield.disable label {
  opacity: 0;
}

.textfield.error input {
  border-color: #dd0000;
}

.textfield.error label {
  color: #dd0000;
}

#alert-dialog-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.background {
  background: radial-gradient(rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
  /* filter: blur(10px); */
  background: linear-gradient(109.6deg, rgb(11 16 24) 11.2%, rgb(11 23 35) 51.2%, rgb(3 15 26) 98.6%);
  background: linear-gradient(109.6deg, #f8fcff 11.2%, #f4faff 51.2%, rgb(249 252 255) 98.6%);
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background.has-mask-pattern {
  background: #111;
}

.background .MaskPattern {
  mask-image: url(./assets/ChatBGPatternMask.svg);
  mask-size: 510px;
  mask-size: contain;
  mask-position: center;
}

.background::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(./assets/ChatBGPattern.png);
  position: absolute;
  mix-blend-mode: plus-lighter;
  background-repeat: repeat;
  background-size: 510px;
}

.background.has-mask-pattern::after {
  display: none;
}

.background {
  background: var(--app-background);
}

.danger {
  color: #dd0000 !important;
}

.success {
  color: #00aa00 !important;
}

.Home {
  display: flex;
  flex: 1 1;
  height: calc(100% - 48px);
  margin: 24px;
  /* background-color: #00000010; */
  border: 1px solid #00000010;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: transform .3s ease;
}

.Dark .Home {
  /* background-color: var(--surface-color); */
  border: 1px solid var(--surface-color);
}

.Home.animate {
  transform: scale(.95);
}

.LeftColumn {
  flex: 1;
  min-width: 420px;
  max-width: 420px;
  /* border-right: 1px solid var(--surface-color); */
  border-radius: 16px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  z-index: 3;
  transition: all .3s ease;
}

.LeftColumn.Compact {
  min-width: 0;
  max-width: 72px;
}

.LeftColumn.Compact .TopBar>div>div {
  display: none;
}

/* .LeftColumn.Compact .TopBar>div>div:first-child, */
.LeftColumn.Compact .TopBar .Menu {
  display: block;
}

.LeftColumn.Compact .fab {
  opacity: 0;
  transform: scale(.9);
  display: none;
}

.MiddleColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.UserDetails {
  display: flex;
  flex-direction: column;
  height: 2.75rem;
  justify-content: space-evenly;
  flex: 1;
  overflow: hidden;
}

.UserDetails .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.UserDetails .subtitle {
  font-size: 14px;
}

.ChatProfile .Item .meta {
  align-self: flex-start;
  font-size: 14px;
  color: #888;
  padding-top: 14px;
}

@media screen and (max-width: 925px) {
  .LeftColumn {
    position: fixed;
    left: 0;
    top: 0;
    /* height: calc(var(--vh, 1vh)*100); */
    height: 100%;
    width: 26.5rem !important;
    max-width: none;
    border-radius: 0;
    /* transform: translate3d(-5rem, 0, 0); */
    transition: transform .3s ease;
  }

  .MiddleColumn {
    max-width: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 !important;
    margin: 0 !important;
    transform: translate3d(26.5rem, 0, 0);
    z-index: 3;
    transition: all .3s ease;
  }

  .MiddleColumn .background {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .MiddleColumn.focused {
    transform: none;
  }

  .MiddleColumn .ChatInfo .BackArrow {
    display: block;
  }

  .Home .MiddleColumn .TopBar .ChatInfo,
  .Home .MiddleColumn .bottom {
    padding-left: 0;
    margin-left: 0;
  }

  .App>.background {
    background-color: var(--secondary);
  }

  .Home:has(.MiddleColumn.focused) .LeftColumn {
    transform: translateX(-25px) scale(.98);
  }


  .Home .Column {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    z-index: 4;
  }

  .Home .Column.hidden,
  .Home .Column.animate {
    margin-left: -420px;
    max-width: 420px;
  }

  .Home .Call .TopBar .LeftPanelClose,
  .Home .Call .maximize {
    display: none !important;
  }
}

@media screen and (min-width: 926px) and (max-width: 1279px) {
  .MiddleColumn {
    transition: transform .3s ease;
  }

  .MiddleColumn.C {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 492px);
    transform: translate3d(824px, 0, 0);
  }

  .MiddleColumn.C.L {
    transform: translate3d(476px, 0, 0);
  }
}

@media screen and (max-width: 1600px) {
  .Home {
    margin: 0;
    height: 100%;
    border-radius: 0;
    border: none !important;
  }

  .LeftColumn {
    border-radius: 0;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
  .MiddleColumn.C.X {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
  }

  .MiddleColumn.C.X.L {
    position: static;
  }
}

.icon {
  padding: 6px;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease;
}

.TopBar .icon:hover,
.Topbar .icon:hover,
.Menu .icon:hover {
  background-color: #ffffff20;
  background-color: var(--icon-hover);
}

.TopBar .icon:active,
.Topbar .icon:active,
.Menu .icon:active {
  background-color: var(--icon-active);
}

.profile {
  width: 3.175rem;
  height: 3.175rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  background-image: linear-gradient(var(--color-white) -300%, var(--color-user));
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.profile img {
  position: absolute;
  width: 48px;
  height: 48px;
}

.scrollable {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  .scrollable {
    /* Firefix supports */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) #0000;
  }
}

.scrollable::-webkit-scrollbar {
  width: 5px !important;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%) !important;
  background-color: rgb(0 0 0 / 10%) !important;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 30%) !important;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 0%) !important;
  border-radius: 10px !important;
}

.Menu {
  position: relative;
  transition: transform .3s ease;
}

.Menu.active {
  background-color: var(--on-surface);
}

.Menu>.icon {
  position: relative;
}

.DropdownMenu,
.ContextMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--surface-color);
  position: absolute;
  min-width: 13.5rem;
  border-radius: 10px;
  z-index: 4;
  margin: 4px;
  gap: 4px;
  padding: 4px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  user-select: none;
  transform-origin: center !important;
  overflow: hidden;
  box-shadow: 0px 0px 10px -4px #000000aa;
  transition: transform 0.2s ease, opacity 0.2s ease, width .2s ease, height .2s ease;
}

.DropdownMenu .icon,
.ContextMenu .icon,
.Item .icon {
  background: none;
}

.ContextMenu {
  min-width: 10rem;
  position: fixed;
}

.DropdownMenu.animate,
.ContextMenu.animate {
  /* transform: scale(0.95); */
  transform: scale(0.95) rotateX(45deg) translateY(-18px);
  opacity: 0;
}

.DropdownMenu.showAnim {
  transition: none;
}

.ContextMenu.hidden {
  display: none;
}

.MenuItem {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 34px;
  border-radius: 8px;
  padding-right: 10px;
  white-space: pre;
  cursor: pointer;
  transition: all .15s ease;
}

.MenuItem.withSubtitle {
  min-height: 44px;
}

.MenuItem>div {
  margin-left: 8px;
}

.MenuItem>div~div {
  margin: 0;
}

.MenuItem:hover {
  background-color: var(--on-surface);
}

.MenuItem:active {
  transform: scale(.95);
}

.MenuItem.Loading {
  background-image: linear-gradient(90deg, #ffffff10, #ffffff30, #ffffff10);
  background-size: 200%;
  animation: ItemLoading 1s linear infinite;
}

@keyframes ItemLoading {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: 0%;
  }
}

.MenuItem .icon {
  font-size: 22px;
}

.MenuItem .title {
  font-family: Roboto, Vazirmatn;
  font-weight: bold;
}

.MenuItem .subtitle {
  font-size: 12px;
}

.DropdownMenu .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DropdownMenu hr {
  margin: 0;
  width: 100%;
  border-color: #ffffff10;
}

.DropdownMenu.Horizontally hr {
  height: calc(100% - 8px);
  width: 1px;
  margin: 4px;
  border-color: #ffffff20;
}

.DropdownMenu .profile,
.ContextMenu .profile {
  margin: 2px 10px;
}

.TopBar>div>.Menu .DropdownMenu {
  position: fixed;
  margin-top: -42px !important;
}

.TopBar .Meta .DropdownMenu {
  position: absolute;
}

.DropdownMenu.top {
  top: 0;
}

.DropdownMenu.left {
  left: 0;
}

.DropdownMenu.right {
  right: 0;
}

.DropdownMenu.bottom {
  bottom: 0;
}

.DropdownMenu.withoutTitle {
  top: 36px !important;
}

.highlight {
  background-color: rgba(var(--primary-rgb), 0.2);
}

.scrollToBottom {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  border-radius: 16px;
  position: absolute;
  bottom: 56px;
  right: 0;
  margin: 16px;
  backdrop-filter: blur(2.5rem);
  transition: background-color .3s ease, bottom .3s ease, opacity .3s ease;
}

.scrollToBottom.hidden {
  bottom: 0 !important;
  opacity: 0;
  z-index: -1;
}

.scrollToBottom:hover {
  background-color: var(--surface-hover);
}

.scrollToBottom .icon:hover {
  background: none;
}

.Page,
.SubPage {
  width: 100%;
  height: calc(100% - 54px);
  background-color: var(--secondary);
  position: absolute;
  left: 0;
  z-index: 2;
  user-select: none;
  overflow: hidden;
  transition: all .3s ease;
}

.SubPage {
  height: 100%;
  max-height: none;
}

.Page>div,
.SubPage>div {
  height: inherit;
  scrollbar-width: none;
  overflow-y: overlay;
}

.Page .Items {
  display: flex;
  flex-direction: column;
}

.Page .section>.title,
.Page .Items>.title {
  font-size: 16px;
  color: #666;
  padding: 4px;
  margin: 8px 20px;
}

.Page .Item {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 16px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  border-bottom: 1px solid var(--primary-container);
  transition: all .3s ease-in-out;
}

.Page .Item>.icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Page .Item>span {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Page .Item>span:first-child {
  padding-left: 28px;
}

.Page .Item.preWrap {
  height: auto !important;
}

.Page .Item.preWrap span {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 20px 0;
  line-height: 1.4;
}

.Page .Item.preWrap .icon {
  align-self: flex-start;
}

.Page .Item .profile {
  margin: 0 12px;
}

.Page .section.Info {
  border-radius: 0 0 16px 16px;
}

.Page input[type="text"] {
  background: none;
  color: var(--dyn-text-color);
  outline: none;
  border: none;
  font-size: 18px;
  font-family: inherit;
  padding: 8px 0;
  flex: 1;
}

.Tabs {
  display: flex;
  gap: 8px;
  padding: 8px;
  position: sticky;
  top: 0px;
  background-color: var(--secondary);
  z-index: 1;
}

.Tab {
  background-color: var(--secondary);
  padding: 8px;
  border-radius: 8px;
  transition: all .3s ease;
  cursor: pointer;
  user-select: none;
}

.Tab:hover {
  background-color: var(--on-primary);
}

.Tab.active {
  background-color: var(--primary-container);
}

.TabContainer,
.TabContent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.TabContent {
  left: 0;
  width: 100%;
  scroll-snap-align: center;
  transition: left .3s ease;
}

.next .TabContent.hideAnim,
.prev .TabContent.showAnim {
  position: absolute;
  left: -100%;
  top: 51px;
}

.next .TabContent.showAnim,
.prev .TabContent.hideAnim {
  position: absolute;
  left: 100%;
  top: 51px;
}

.Page.animate {
  height: 120px;
  opacity: 0;
  transform: scale(.95);
  display: block;
}

.Page .pushUp,
.SubPage .pushUp {
  transform: translateY(-50px);
  height: 100%;
  overflow: hidden;
}

.Page .User {
  display: flex;
  align-items: center;
  padding: 16px 0;
  gap: 12px;
  font-size: 20px;
  flex-direction: row;
  border-bottom: 1px solid var(--primary-container);
  background-color: var(--secondary);
  margin: 0 24px;
}

.StartChat {
  padding: 8px;
  background-color: var(--primary-container);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: absolute;
  right: 0;
  margin: 0 24px;
  margin-bottom: 0px;
  margin-bottom: -80px;
}

.SubPage {
  top: 0;
}

.SubPage.animate {
  transform: translateY(50%);
  opacity: 0;
  display: block;
}

.Page>div,
.SubPage>div {
  transition: all .3s ease, opacity .1s ease;
}

.Page>.fadeThrough {
  opacity: 0;
  transform: translateY(50px);
}

.Page .Items.Media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}

.Page .Items.Media .MediaItem {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
}

.Page .Items.Media .MediaItem>* {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Page .Items.Media .MediaItem .blurred {
  filter: blur(4px);
}

.emoji-inner {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.emoji {
  background: no-repeat;
  background-size: var(--emoji-size);
  color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: var(--emoji-size);
  height: var(--emoji-size);
  margin-inline-end: 1px;
  vertical-align: middle;
  overflow: hidden;
  flex-shrink: 0;
}

.Transition {
  display: contents !important;
}

.Transition.hidden {
  visibility: hidden;
}

.Page .section {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.section:has(.TabContainer) {
  display: none;
}

.section:has(.TabContainer .TabContent) {
  display: flex;
}

.Page .textfield {
  flex: 1;
}

.Page .textfield input {
  border: none;
  font-size: 18px;
  height: 48px;
}

.fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 16px;
  background-color: var(--primary-container);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease allow-discrete;
  z-index: 5;
}

.fab::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  z-index: -1;
  transition: all .3s ease;
}

.fab:hover::after {
  background-color: var(--on-primary);
}

.fab .icon {
  background: none !important;
}

.fab .DropdownMenu.hideAnim {
  transform: scale(.95) translateY(-18px);
}

a {
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--primary-container);
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: var(--primary);
}

.switch input:focus+.slider {
  box-shadow: 0 0 3px var(--primary);
}

.switch input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.Toasts {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  position: fixed;
  bottom: 120px;
  left: 0;
  right: 0;
  z-index: 9;
}

.Toast {
  background-color: #000d;
  color: var(--text-color);
  width: fit-content;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
  gap: 12px;
  height: auto;
  overflow: hidden;
  user-select: none;
  interpolate-size: allow-keywords;
  transition: all .3s ease, opacity .1s ease;
}

.Toast.animate {
  margin-bottom: -48px;
  opacity: 0;
  transform: scale(0.95)
}

.Toast.hideAnim {
  /* margin-bottom: 0;
  transform: translateY(-18px); */
}

.Toast .icon {
  padding: 0;
  margin: 0;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.MediaPreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  user-select: none;
  transition: all .3s ease;
}

.MediaPreview .Topbar {
  display: flex;
  padding: 0 16px;
  height: 72px;
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #000000dd, transparent);
}

.MediaPreview .Topbar>div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.MediaPreview .Topbar .SenderInfo {
  flex: 1 auto;
  color: #ffffffaa;
}

.MediaPreview .Topbar .SenderInfo .body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.MediaPreview .Topbar .SenderInfo .subtitle {
  font-size: 14px;
}

.MediaPreview .Content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.MediaPreview .Content .Media>* {
  max-width: 100%;
}

.MediaPreview.animate {
  opacity: 0;
}

.MediaPreview.animate .Content {
  transform: scale(0.95);
}

.BackButton {
  display: flex;
  color: var(--primary);
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: opacity .2s ease;
}

.BackButton:active {
  opacity: .5;
}

.LeftColumn .TopBar {
  position: relative;
  transition: background-color .3s ease;
}

.BackButton .icon {
  font-size: 20px !important;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

.BackButton span {
  font-size: 16px;
  position: absolute;
  left: 20px;
  transition: left .3s ease;
}

.BackButton.showAnim span {
  left: 50%;
  transition: none;
}

.Spoiler {
  position: relative;
  color: transparent;
  background-image: url(./assets/SpoilerDots.png);
  background-size: auto min(100%, 1.125rem);
}

.Spoiler.show {
  color: var(--dyn-text-color);
  background: none;
}

.flex {
  display: flex;
  width: 100%;
}

.visible {
  display: initial !important;
}

.IconFill {
  font-variation-settings: 'FILL' 1;
}

.Loading .border-top,
.Loading .border-bottom {
  position: absolute;
  border-radius: 8px;
  background-image: linear-gradient(90deg, transparent, #ffffff25, transparent);
  background-size: 200%;
  animation: ItemLoading 1s linear infinite;
}

.Loading .border-top {
  top: -1px;
  height: 2px;
  width: 100%;
}

.Loading .border-bottom {
  bottom: -1px;
  height: 2px;
  width: 100%;
}

.TextLoading {
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 4px);
  top: 0;
  left: 0;
  margin: -2px -3px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, transparent, #00000030, transparent);
  background-position-x: 200%;
  background-size: 200%;
  border: 1px solid #00000020;
  border-radius: 8px;
  overflow: hidden;
  transition: opacity .3s ease;
  animation: ItemLoading 1s linear infinite;
}

.Dark .TextLoading {
  background-image: linear-gradient(90deg, transparent, #ffffff30, transparent);
  border: 1px solid #ffffff20;
}

.TextLoading.animate {
  opacity: 0;
}

.App .MuiSlider-root {
  margin: 0 24px;
  overflow: visible;
  padding: 0 !important;
  color: var(--primary-active);
  overflow: visible !important;
}

.App .MuiSlider-thumb {
  width: 16px;
  height: 16px;
}

.css-c0dc4c-MuiTypography-root-MuiDialogContentText-root {
  font-family: inherit !important;
}

.css-et6ef6-MuiSkeleton-root,
.css-1atqaay-MuiSkeleton-root,
.css-757fl2-MuiSkeleton-root {
  background-color: var(--on-primary) !important;
}

.profile.colors-blue {
  background: var(--colors-blue);
}

.profile.colors-magenta {
  background: var(--colors-magenta);
}

.profile.colors-green {
  background: var(--colors-green);
}

.profile {
  --color-user: var(--accent-color);
}

.peer-color-0 {
  --accent-color: var(--color-peer-0, var(--color-text));
  --accent-bg: var(--color-peer-bg-0, var(--hover-color))
}

.peer-color-1 {
  --accent-color: var(--color-peer-1, var(--color-text));
  --accent-bg: var(--color-peer-bg-1, var(--hover-color))
}

.peer-color-2 {
  --accent-color: var(--color-peer-2, var(--color-text));
  --accent-bg: var(--color-peer-bg-2, var(--hover-color))
}

.peer-color-3 {
  --accent-color: var(--color-peer-3, var(--color-text));
  --accent-bg: var(--color-peer-bg-3, var(--hover-color))
}

.peer-color-4 {
  --accent-color: var(--color-peer-4, var(--color-text));
  --accent-bg: var(--color-peer-bg-4, var(--hover-color))
}

.peer-color-5 {
  --accent-color: var(--color-peer-5, var(--color-text));
  --accent-bg: var(--color-peer-bg-5, var(--hover-color))
}

.peer-color-6 {
  --accent-color: var(--color-peer-6, var(--color-text));
  --accent-bg: var(--color-peer-bg-6, var(--hover-color))
}