.Dark {
    --primary: #007fc5;
    --primary-container: #1e1e1e;
    --secondary: #121212;
    --secondary-text: #888;
    /* --on-primary: #272727; */
    --on-primary: #ffffff10;
    /* --active-primary: #373737; */
    --active-primary: #ffffff20;
    --text-color: #d5d5d5;
    --dyn-text-color: #d5d5d5;
    --surface-color: #000a;
    --on-surface: #ffffff10;
    --background: var(--secondary);
    --app-background: var(--primary-container);
    --shadow-color: #000;
    --primary-hover: #005381;
    --primary-hover-rgb: 0, 83, 129;
    --primary-active: #002539;
    /* #004164 */
    --default: linear-gradient(120deg, #3b7493, #00345e);
    --purple: linear-gradient(120deg, #3d2471, #002b29);
    --green: linear-gradient(120deg, #65933b, #005e5a);
    --black: linear-gradient(120deg, #202020, #080808);
}

:root {
    --primary: #0080bb;
    --primary-container: #f1f1f1;
    --secondary: #fff;
    --secondary-text: #aaa;
    /* --on-primary: #f1f1f1; */
    --on-primary: #00000010;
    /* --active-primary: #eee; */
    --active-primary: #00000020;
    --text-color: #fff;
    --dyn-text-color: #000;
    --surface-color: #fffd;
    --on-surface: #0000000f;
    --background: var(--secondary);
    --app-background: var(--primary-container);
    --shadow-color: #fff;
    --primary-hover: #008dcf;
    --primary-hover-rgb: 0, 141, 207;
    --primary-active: #0080bb;
    --default: linear-gradient(120deg, #62cdff, #096bd1);
    --purple: linear-gradient(120deg, #a256d3, #4900ad);
    --green: linear-gradient(120deg, #9adf5b, #008d87);
    --black: linear-gradient(120deg, #464646, #1a1a1a);
}

.green {
    background: var(--green);
}

.LeftColumn {
    box-shadow: 3px 0px 12px -10px #000;
}

.MiddleColumn .bottom {
    margin: 0;
    border-radius: 0;
    margin-left: -16px;
    padding-left: 16px;
}

.TopBar .ChatInfo {
    margin-left: -16px;
    padding-left: 24px;
    background-color: var(--surface-color);
}

.MiddleColumn .background {
    margin-left: -16px;
    padding-left: 16px;
    box-sizing: content-box;
}