@media screen and (max-width: 480px) {
    .Auth.container {
        max-width: none !important;
        height: 100%;
    }

    .Auth.container .content {
        flex: 1;
    }

    .Home {
        margin: 0;
        height: 100%;
        border-radius: 0;
    }

    .LeftColumn {
        width: 100% !important;
        min-width: 0 !important;
        max-width: 26.5rem !important;
        border-radius: 0;
        z-index: 0;
    }

    .LeftColumn .Chats {
        /* padding-block: 48px;
        scroll-snap-type: y mandatory; */
    }

    .ChatList {
        scroll-snap-align: center;
    }

    .ChatList .Tabs {
        top: 0px;
    }

    .ChatList .Chat.active {
        background-color: transparent !important;
    }

    /* .MiddleColumn {
        display: none;
    }

    .MiddleColumn.active {
        display: flex;
    } */

    .MiddleColumn {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .MiddleColumn .background {
        display: block !important;
    }

    /* .MiddleColumn {
        display: none;
    }

    .MiddleColumn.focused {
        display: flex;
    } */

    /* .MiddleColumn .background::after {
        content: '';
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff10;
    } */

    .MiddleColumn .Content .TopBar {
        width: 100%;
    }

    .MiddleColumn .ChatInfo .BackArrow {
        display: block;
    }

    .Column {
        border-radius: 0 !important;
    }

    .Home .ContextMenuBG {
        opacity: unset;
    }

    .Home .MenuItem {
        padding: 4px 0;
        min-height: 46px;
    }

    .Message.Out .bubble {
        max-width: min(30rem, 100vw - 3.75rem);
    }

    .Message.In .bubble {
        max-width: min(29rem, 100vw - 7rem);
    }

    .Message.In .bubble.noAvatar {
        max-width: min(29rem, 100vw - 4.5rem);
    }

    .ContextMenu {
        min-width: 12rem;
    }

    .ContextMenu:has(.Content) {
        background-color: transparent !important;
        transform: none !important;
        opacity: 1 !important;
    }

    .ContextMenu .Content {
        width: 100%;
        border-radius: 16px;
        background-color: var(--context-menu-bg);
        transform-origin: var(--origin);
        overflow: hidden;
        transition: transform .3s ease, opacity .3s ease;
    }

    .ContextMenu.animate .Reactions {
        opacity: 0;
    }

    .ContextMenu.animate .Content {
        transform: scale(.5) rotateX(45deg) translateY(-18px);
        opacity: 0;
    }

    .MediaPreview .Content .Media,
    .MediaPreview .Content .Media>* {
        width: 100%;
    }

    .PreviewBG {
        background-color: #000000 !important;
    }

    .ChatInfo {
        height: 54px !important;
    }

    .ChatInfo .profile,
    .ChatInfo .profile img {
        width: 42px !important;
        height: 42px !important;
        font-size: 21px !important;
    }

    .message-media .Poll {
        min-width: min(29rem, 100vw - 7rem);
    }

    .Toasts {
        width: calc(100% - 16px);
        margin: 8px;
        bottom: 48px;
    }

    .Toast {
        width: auto;
        padding: 12px;
        background-color: #121212f8;
    }

    .BackButton span,
    .MiddleColumn .ChatInfo .BackButton span {
        left: 28px;
    }

    .Home:has(.MediaPreview.zoom) .MiddleColumn.focused {
        /* transform: scale(1.1); */
    }

    .Home .MiddleColumn .bottom {
        /* height: 100%; */
        transition: transform .2s ease;
    }

    .Home .MiddleColumn .bottom.active {
        transition: none;
    }

    .MiddleColumn:has(.bottom .MobileKeyboardFiller.active) .EmojiPicker {
        transition: none;
    }

    .MiddleColumn .bottom .EmojiPicker {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 4px;
        width: 100%;
        height: 256px;
        overflow: hidden;
        transition: all .3s ease;
        /* transition: none !important; */
    }

    .MiddleColumn .bottom .EmojiPicker.animate {
        height: 0px;
    }

    .MiddleColumn .bottom .EmojiPicker .Backspace {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--secondary);
        z-index: 1;
    }

    .MiddleColumn:has(.bottom .EmojiPicker) .bottom {
        padding-bottom: 0;
    }

    .EmojiPicker .Tabs {
        justify-content: center;
        gap: 16px;
    }

    .bottom .EmojiPicker .Tab {
        padding: 4px;
        flex: none;
        font-size: 14px;
    }

    .EmojiPicker .Tab.active span::after {
        display: none;
    }

    em-emoji-picker {
        min-height: auto;
        height: 217px;
        width: 100%;
        --background-rgb: 85, 170, 255;
    }

    .VoiceChat {
        border-radius: 16px 16px 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        max-width: 420px;
        min-height: 480px;
    }

    .VoiceChat.animate {
        transform: translateY(100%);
    }

    .VoiceChatBG {
        display: block;
    }

    .Home:has(.header) .MiddleColumn {
        height: calc(100% - 36px);
    }

    .Home:has(.header.hideAnim) .MiddleColumn {
        height: 100%;
    }

    .VoiceChat {
        height: 680px;
        /* Temporary */
    }

    .VoiceChat.Maximized {
        height: 100%;
        transition: all .3s ease;
    }

    .VoiceChat .Bottom {
        height: 192px;
    }

    .VoiceChat .Participants {
        transition: all .3s ease;
    }

    .VoiceChat .Participants .Participant {
        width: 100%;
        height: 54px;
        transition: opacity .3s .1s ease, background-color .3s ease;
    }

    .VoiceChat .Bottom .button {
        transition: all .3s ease;
    }

    .VoiceChat .Bottom .button.mic .RLottie canvas {
        width: 64px;
        height: 64px;
        transition: all .3s ease;
    }

    .VoiceChat.Maximized .Bottom {
        height: 96px;
        transition: all .3s ease;
    }

    .VoiceChat.Maximized .Bottom .button {
        gap: 6px;
    }

    .VoiceChat.Maximized .Bottom .button .icon {
        flex: none;
    }

    .VoiceChat.Maximized .Bottom .button.mic .SoundBubbles,
    .VoiceChat.Maximized .Bottom .button.mic .RLottie {
        width: 56px;
        height: 56px;
    }

    .VoiceChat.Maximized .button.mic .SoundBubbles div {
        width: 54px;
        height: 54px;
    }

    .VoiceChat.Maximized .Bottom .button.mic .RLottie canvas {
        width: 42px;
        height: 42px;
    }

    .VoiceChat.Maximized .Bottom .button.mic .title {
        font-size: 14px;
    }


    .VoiceChat.Maximized .VideoParticipants {
        height: 100%;
        max-height: 100%;
        margin: 0 -12px;
    }

    .VoiceChat.Maximized .VideoParticipants .VideoParticipant {
        max-height: 100%;
    }

    .VoiceChat.Maximized .VideoParticipants .VideoParticipant .info {
        margin-bottom: 92px;
        margin-left: 12px;
    }

    .VoiceChat.Maximized .Participants {
        background: none;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        margin-top: -92px;
    }

    .VoiceChat.Maximized.PreparingAnim .Participants .Participant {
        opacity: 0;
        transition: none;
    }

    .VoiceChat.Maximized .Participants .Participant {
        width: 80px;
        height: 80px;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        opacity: 1;
        background-color: var(--secondary);
    }


    .VoiceChat.Maximized .Participants .Participant .body {
        flex: none;
    }

    .VoiceChat.Maximized .Participants .Participant .subtitle,
    .VoiceChat.Maximized .Participants .Participant .meta {
        height: 0px;
        display: none;
    }
}